    

{% extends 'jobs/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
    <a class="btn btn-outline-primary" href="{{ request.META.HTTP_REFERER }}" role="button">Cancel</a>
    <br><br><br>
    <h5>This is how your post look like</h5>
    <hr>
    <h4>{{job_data.postTitle}}</h4>
    <div class="row">
            <div class="col-md-8">
                <div id="carouselExampleAutoplaying" class="carousel slide justify-content-center" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in job_data.images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="/media/upload/jobs/{{image }}" class="d-block w-100" alt="..." style="width: 200px; height: 450px;">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            {{ job_data.description|safe }}
        </div>
        <div class="col-md-4">
            <iframe 
            class="mapf"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.217340829741!2d73.14523461450075!3d31.463206957111893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3922691007ec6de9%3A0xf59745edf853ee2f!2sNational%20Textile%20University%20Masjid!5e0!3m2!1sen!2s!4v1680371096502!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <br>
            <div class="slot">Compensation: <b>{{job_data.compensation}}</b></div>
            <div class="slot">Employment Type: <b>{{job_data.employementType}}</b></div>
            <div class="slot">Job Title: <b>{{job_data.jobTitle}}</b></div>
        </div>
    </div>
</div>


{% endblock %}
